<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <% Recipes.all.each do |r| %>
    <h1><%= r.name %></h1>
    <a href="/recipes/<%=r.id%>"></a>
  </body>
</html>
